MONGODB_URI="mongodb+srv://user:password@cluster.mongodb.net/labsearch"
NEXTAUTH_SECRET="your-random-secret-string-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"

IMAGEKIT_PUBLIC="your_imagekit_public_key"
IMAGEKIT_PRIVATE="your_imagekit_private_key"
IMAGEKIT_URL="https://ik.imagekit.io/your_id"
